extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        img.logo(src='/static/images/logo.jpg')
        h1 #{projectInfo.projectName}

        
        p.lead.text-light
          | #{projectInfo.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each project in projectInfo.technologies
            li #{project}


        a.button.expanded(href=`${projectInfo.live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${projectInfo.github_link}` target="_blank") GitHub Repo
    
    img.image(src=`${projectInfo.image_urls[1]}`)
    //- img.image(src=`${projectInfo.image_urls[1]}`)
    //- img.image(src=`${projectInfo.image_urls[1]}`)